.starship-form {
    margin: 20px -5px;

    .input-field {
        flex: 1;
        padding: 5px;
        margin-bottom: 10px;

        input {
            appearance: none;
            border: none;
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            width: 100%;
            padding: 15px 10px;
            border-radius: 5px;
            font-size: 1.2em;
            outline: none;
        }

        p {
            font-size: 1em;
            color: white;
            margin-top: 5px;
        }
    }

    .multi-field {
        display: flex;
    }

    
    .save-btn-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
        .save-btn {
            display: block;
            border: none;
            padding: 20px 30px;
            background-color: white;
            border-radius: 5px;
            font-size: 1em;
            cursor: pointer;
            color: gray;
            outline: none;
        }
    }

    @media screen and (max-width: 768px) {
        .input-field {
            flex: 0 0 100%;

            input {
                font-size: 1em;
            }

            p {
                font-size: 0.8em;
            }
        }

        .multi-field {
            flex-wrap: wrap;
        }
    }
}