.films-list {
    margin: 20px 0;

    .film-item {
        display: grid;
        grid-template-areas: "title director spaceships";
        grid-template-columns: 1fr 1fr auto;
        background-color: rgba(255, 255, 255, 0.3);
        color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 15px;
        text-decoration: none;
        border: 2px solid #ffffff;
        transition-duration: 0.4s;

        .film-title {
            grid-area: title;
            display: flex;
            align-items: center;
        }

        .film-director {
            grid-area: director;
            display: flex;
            align-items: center;
        }

        .film-starships {
            grid-area: spaceships;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .film-starships-btn {
            display: flex;
            text-decoration: none;
            color: #ffffff;
            background-color: #74133A;
            padding: 8px 10px;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            color: #FFEB01;
            border: 2px solid #FFEB01;
        }
    }

    @media screen and (max-width: 768px) {
        .film-item {
            grid-template-areas:
                "title    spaceships"
                "director spaceships";
            grid-template-columns: 1fr auto;
            font-size: 0.9em;

            .film-director {
                font-size: 0.8em;
            }
        }
    }
}